/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

legend{
	display:none;
}

img, fieldset{
	border:0px;
	margin:0px;
	padding:0px;	
}

div{
	margin:0px;
	padding:0px;
	position:relative;	
}

a:link, a:visited, a:hover, a:active {
    color: #0A8DC1;
    font-size: 15px;
    font-weight: bold;
}

body {
	background-color:#DAEFFC;
	background-repeat:repeat-x;
	font-family:Verdana, Arial,"Trebuchet MS";
	color: #222222;
	font-size:13px;
	margin:0px;
}

input[type=text], input[type=password]{
    border: 1px solid #CCC;
    color: #999999;
    font-family: arial;
    font-size: 14px;
    height: 36px;
	line-height: 36px;
    margin: 4px 0 4px 4px;
    padding-left: 8px;
    width: 238px;	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

input.marcado {
	border: 1px solid #0A8DC1;
}

#login{
    height: 300px;
    margin: auto;
    overflow: auto;
    top: 170px;
    width: 750px;
}

#titulo{
    color: #666666;
    float: left;
    font-size: 25px;
    margin: auto;
    overflow: auto;
    padding-top: 39px;
    text-shadow: 1px 1px 5px #999999;
    width: 330px;
}

#cxLogin{
	background-image:url(../img/layout/caixaLogin.png);
	background-repeat: no-repeat;
	float: right;
	height:253px;
	margin: 0 auto;	
	width: 400px;
}

#tableLogin{ 
	padding:40px 0px 0px 41px;
}

.erro {
    background-color: #BE2327;
    border: 0 none;
    color: #FFFFFF;
    display: none;
    margin-bottom: 2px;
    padding: 2px 2px 2px 10px;
    width: 294px;
	
}

.erroLogin {
    background-color: #BE2327;
    border: 0 none;
    color: #FFFFFF;
    margin-bottom: 2px;
    padding: 2px 2px 2px 10px;
    width: 294px;	
}

.bt-entrar {
    background-color: #0A8DC1;
    border-color: #0A8DC1 #18709D #18709D #0A8DC1;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFF !important;
    display: block;
    font-size: 17px !important;
    font-weight: bold !important;
    height: 21px;
    margin: 15px 0 0 5px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
	text-decoration: none;
}

.bt-entrar:hover {
    background-color: #0A82AF;
    border-color: #0A82AF #18709D #18709D #0A82AF;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFF !important;
    display: block;
    font-size: 17px !important;
    font-weight: bold !important;
    height: 21px;
    margin: 15px 0 0 5px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}